r@{
    ViewData["Title"] = "Home Page";
}
<script src="js/site.js"></script>

<div class="text-center">
    <h1 class="display-4">My Favorite Song</h1>
    <p>Five Finger Death Punch - House of the Rising Sun</p>.
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/sXYIxJScSik?si=DAgZh-Um9Rmrn9L5"
         title="House of the Rising Sun" allow="accelerometer; allowfullscreen"></iframe>
    </div>
    <div id="myContainer">
        <div id="myAnimation">The rising sun:</div>
    </div>
</div>

